.header {
  border-bottom: 1px solid rgb(224, 220, 220);
  padding: 10px 0px;
}

.header-left {
  font-size: 25px;
  font-weight: 500;
}

.header-right {
}

.menu {
  width: 80px;
  margin-left: 10px;
  cursor: pointer;
}

.menu-active {
  color: blue;
  font-weight: 500;
}
