<div class="meeting-top">
  <span>Select meeting room </span>
  <mat-form-field appearance="outline">
    <mat-select
      [(ngModel)]="selectedRoom"
      (selectionChange)="onRoomSelectionChange(selectedRoom)"
    >
      <mat-option
        *ngFor="let group of meetingRooms; trackBy: trackByRoomFn"
        [value]="group"
        >{{ group }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</div>
<div class="meeting-list row">
  <ng-container *ngIf="meetingListCopy.length; else noMeeting">
    <app-meeting-card
      *ngFor="let meeting of meetingListCopy"
      [username]="meeting.username"
      [agenda]="meeting.agenda"
      [date]="meeting.date"
      [fromTime]="meeting.fromTime"
      [toTime]="meeting.toTime"
      (deleteMeeting)="deleteMeet(meeting.id)"
    >
    </app-meeting-card>
  </ng-container>
  <ng-template #noMeeting>
    <span class="no-meeting">No Meetings found</span>
  </ng-template>
</div>
