.book {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 0px;
}

.book-header {
  font-size: 20px;
  font-weight: 500;
}

.book-form {
  padding: 5px 30px;
}

.book-success {
  color: green;
}

.book-time {
  height: 50px;
  width: 404px;
  border: 1px solid rgb(230, 221, 221);
  border-radius: 5px;
  padding: 0 30px;
  input {
    border: none;
  }
}
